__pycache__/
*.py[cod]
*$py.class
.DS_Store
*.pdb
*.iml
*.pkl
.idea
target/
*.csv
*.sh
*.zip
/.lake
/outputs/
/paper/*.aux
/paper/*.log
/paper/*.out
/paper/*.pdf
/paper/*.toc
/paper/*.fdb_latexmk
/paper/*.fls
/paper/*.synctex.gz
